# Solutions
There will be many ways to solve these exercises which weren't covered in this chapter; however, the solutions below use only what has been introduced in chapter 2.

## About the Data
In this notebook, we will be working with Earthquake data from September 18, 2018 - October 13, 2018 (obtained from the US Geological Survey (USGS) using the [USGS API](https://earthquake.usgs.gov/fdsnws/event/1/))

## Setup

In [5]:
import pandas as pd

df = pd.read_csv('data/parsed.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB

## Exercise 1

Get the 95th quantile of mag from Japan and 'mb' as magType

## Exercise 2
Get the value count in percentage from Indonesia

## Exercise 3

Describe a stats summary of Nevada place

## Exercise 4

Create a new bool column 'ring_of_fire' for the below places

    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada',
    'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala',
    'Indonesia', 'Japan', 'Kermadec Islands', '^Mexico',
    'New Zealand', 'Peru', 'Philippines', 'Russia',
    'Taiwan', 'Tonga', 'Washington' 
    
Note we need to use `^Mexico` to get Mexico, but not New Mexico.

## Exercise 5

Get the number of event occuered in the 'ring_of_fire'

## Exercise 6

Get the sum of 'tsunami' where the palces are in 'ring_of_fire'

<hr>
<div>
    <a href="../../ch_02/6-adding_and_removing_data.ipynb">
        <button>&#8592; Chapter 2</button>
    </a>
    <a href="../../ch_03/1-wide_vs_long.ipynb">
        <button style="float: right;">Chapter 3 &#8594;</button>
    </a>
</div>
<hr>