In [ ]:
import pyodbc
import pandas as pd

conn = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};Server=tcp:mssqllearningserver.database.windows.net,1433;Database=sqllearning;Uid=sqladmin;Pwd=SQL@dm!n;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')



sql = '''SELECT *
    FROM [emp].[employees]'''
empDF = pd.read_sql(sql,conn)  # without parameters [non-prepared statement]

# with a prepared statement, use list/tuple/dictionary of parameters depending on DB
#data = pd.read_sql(sql=sql, con=cnxn, params=query_params) 

empDF.head()

In [ ]:
empDF.shape

In [ ]:
sql = '''SELECT *
    FROM [emp].[jobs]'''
jobDF = pd.read_sql(sql,conn)

jobDF.head()

In [ ]:
result = pd.merge(empDF, jobDF, how='inner', on='job_id')
result


SELECT
*
FROM [emp].[employees] as e
INNER JOIN [emp].[jobs] as j ON e.job_id = j.job_id

In [ ]:
result.groupby('job_title')["employee_id"].count()

SELECT
j.job_title,
count(employee_id) as emp_count
FROM [emp].[employees] as e
INNER JOIN [emp].[jobs] as j ON e.job_id = j.job_id
GROUP BY j.job_title

In [ ]:
#sqlStatement = '''INSERT INTO [emp].[jobs] VALUES('Data Scientist', 6000, 25000)'''
#cursor = conn.cursor()
#cursor.execute(sqlStatement)
#conn.commit()

In [ ]:
sql = '''SELECT *
    FROM [emp].[employees]'''
empDF = pd.read_sql(sql,conn)
sql = '''SELECT *
    FROM [emp].[jobs]'''
jobDF = pd.read_sql(sql,conn)
jeDF = pd.merge( jobDF, empDF, how='left', on='job_id')
jeDF

In [ ]:
jeDF.groupby('job_title')["employee_id"].count()

SELECT j.job_title, count(employee_id) as emp_count FROM [emp].[jobs] as j LEFT JOIN [emp].[employees] as e  ON e.job_id = j.job_id GROUP BY j.job_title

In [ ]:
#pd.read_sql_table('brands', conn, schema='sales')