In [39]:
shoplist = ['apple', 'mango', 'carrot', 'banana']

print('I have', len(shoplist), 'items to purchase.')

I have 4 items to purchase.

In [22]:
print('These items are:', end=' ')
for item in shoplist:
    print(item, end=', ')

These items are: apple, mango, carrot, banana,

In [24]:
for chrs in 'banana':
    print(chrs)

b
a
n
a
n
a

In [25]:
print('\nI also have to buy rice.')
shoplist.append('rice')
print('My shopping list is now', shoplist)

I also have to buy rice.
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice']

In [48]:
shoplist.insert(2,'grape') 
print(shoplist)

['apple', 'mango', 'grape', 'carrot', 'banana']

In [26]:
print('I will sort my list now')
shoplist.sort()
print('Sorted shopping list is', shoplist)

I will sort my list now
Sorted shopping list is ['apple', 'banana', 'carrot', 'mango', 'rice']

In [28]:
print('The first item I will buy is', shoplist[0])

The first item I will buy is apple

In [49]:
shoplist.remove('apple') 
print(shoplist)

['mango', 'grape', 'carrot', 'banana']

In [50]:
shoplist.pop()
print(shoplist)

['mango', 'grape', 'carrot']

In [36]:
olditem = shoplist[0]
del shoplist[0]
print('I bought the', olditem)
print('My shopping list is now', shoplist)

I bought the apple
My shopping list is now ['mango', 'carrot', 'banana']

In [44]:
shoplist[2:]

['carrot', 'banana']

In [54]:
shoplist[1] = 'pear'
print(shoplist)

['mango', 'pear', 'carrot']

In [52]:
my_list = [1, 2, 3] 
my_list2 = [3, 4, 5]
combo_list = my_list + my_list2 
combo_list

[1, 2, 3, 3, 4, 5]

In [53]:
my_nested_list = [my_list, my_list2] 
my_nested_list

[[1, 2, 3], [3, 4, 5]]

In [45]:
nbrs = [12, 5, 7, 9, 4, 2, 3, 8]
evn = [nbr for nbr in nbrs if nbr%2 == 0]
odd = [n for n in nbrs if n%2 != 0]
print(evn, odd)

[12, 4, 2, 8] [5, 7, 9, 3]

In [46]:
nbrs = [12, 5, 7, 9, 4, 2, 3, 8]
evn = []
odd = []
for nbr in nbrs:
    if nbr%2 == 0:
        evn.append(nbr)
    else:
        odd.append(nbr)
print(evn, odd)

[12, 4, 2, 8] [5, 7, 9, 3]

In [2]:
nbrs = [12, 5, 7, 9, 4, 2, 3, 8]
for idx in range(len(nbrs)):
    print(idx, nbrs[idx])

0 12
1 5
2 7
3 9
4 4
5 2
6 3
7 8

In [1]:
nbrs = [12, 5, 7, 9, 4, 2, 3, 8]
for idx, num in enumerate(nbrs):
    print(idx, num)

0 12
1 5
2 7
3 9
4 4
5 2
6 3
7 8

In [8]:
nbrs = [4, 2, 3, 8]
sortedlst = []
for idx in range(len(nbrs)):
    firstNum = nbrs[idx] 
    for idx1 in range(len(nbrs)):
        if firstNum > nbrs[idx1]:
            print(nbrs[idx1], end =', ')
    print()

2, 3,

2,
4, 2, 3,

In [15]:
nbrs=[5,3,2,4]
for idx, num in enumerate(nbrs):
    for idx1 in range(idx+1, len(nbrs)):
        if nbrs[idx] > nbrs[idx1]:
            tmp = nbrs[idx]
            nbrs[idx] = nbrs[idx1]
            nbrs[idx1] = tmp
    print(nbrs)
print(nbrs)

[2, 5, 3, 4]
[2, 3, 5, 4]
[2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5]

In [1]:
shopList = ['apple', 'mango', 'carrot', 'banana']
tempList = shopList
tempList

['apple', 'mango', 'carrot', 'banana']

In [2]:
tempList[1] = 'Grape'
print(tempList)
shopList

['apple', 'Grape', 'carrot', 'banana']

['apple', 'Grape', 'carrot', 'banana']

In [3]:
shopList = ['apple', 'mango', 'carrot', 'banana']
tempList = shopList[::]
tempList

['apple', 'mango', 'carrot', 'banana']

In [4]:
tempList[1] = 'Grape'
print(tempList)
shopList

['apple', 'Grape', 'carrot', 'banana']

['apple', 'mango', 'carrot', 'banana']

In [5]:
shopList = ['apple', 'mango', 'carrot', 'banana']
tempList = shopList.copy()
tempList

['apple', 'mango', 'carrot', 'banana']

In [6]:
tempList[1] = 'Grape'
print(tempList)
shopList

['apple', 'Grape', 'carrot', 'banana']

['apple', 'mango', 'carrot', 'banana']

In [9]:
lst = [3, 5, 7, 9, 1]

def addition(n):
    return n+n
result = map(addition, lst)
print(list(result))

[6, 10, 14, 18, 2]

In [10]:
lst = [3, 5, 7, 9, 1]
result = []
for elm in lst:
    result.append(addition(elm))
result

[6, 10, 14, 18, 2]

In [11]:
lst = [3, 5, 7, 9, 1]
result = map(lambda a: a+a, lst)
print(list(result))

[6, 10, 14, 18, 2]

In [13]:
lst = [45,67,54,69,34,56,23,86,24,12,11,8]
evenNbrs = []
for elm in lst:
    if elm % 2 == 0:
       evenNbrs.append(elm)
evenNbrs

[54, 34, 56, 86, 24, 12, 8]

In [16]:
lst = [45,67,54,69,34,56,23,86,24,12,11,8]
evenNbrs = [elm for elm in lst if elm > 50]
evenNbrs

[67, 54, 69, 56, 86]

In [19]:
marks = [45,67,54,69,34]
fiftyAbove = [mark for mark in marks if mark > 50]
fiftyAbove

[67, 54, 69]

In [20]:
numbers = [1,2,3]
cubs = [(nbr, nbr*nbr*nbr)for nbr in numbers]
cubs

[(1, 1), (2, 8), (3, 27)]

In [23]:
from math import sqrt
def maths(nbr):
    return sqrt(pow(nbr, 3))

numbers = [1,2,3]
sqr = [maths(nbr) for nbr in numbers]
sqr

[1.0, 2.8284271247461903, 5.196152422706632]

In [24]:
numbers = [1,2,3]
sqr = map(maths, numbers)
list(sqr)

[1.0, 2.8284271247461903, 5.196152422706632]

In [1]:
lst = [5,4,6,8,9,5,4,3]
firstSix = [lst[item] for item in range(0,6)]
firstSix

[5, 4, 6, 8, 9, 5]

In [9]:
import timeit
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 5
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

In [4]:
firstSix = [item for idx, item in enumerate(lst) if idx < 6]
firstSix

[5, 4, 6, 8, 9, 5]

In [11]:
#string = 'Tuple is data structure that holds collection of different objects in it'
string = ['Tuple','is', 'data', 'structure', 'that', 'holds', 'collection', 'of', 'different' ]
for idx in range(0, len(string)):
    if idx%3 == 2:
        print(string[idx])

data
holds
different

In [12]:
inputList= [3,4,2,1,5,6,9,8,7]
sortedList = [1,2,3,4,5,6,7,8,9]
matrixList = [[1,2,3],[4,5,6],[7,8,9]]
out[0][1]

2