In [3]:
number = 10.0
print(type(number))

<class 'float'>

In [9]:
numbers = 10, 20.50, 30, 'One'
print(type(numbers), numbers)
numbers[1] = 20

<class 'tuple'> (10, 20.5, 30, 'One')

TypeError: 'tuple' object does not support item assignment

In [7]:
numbers = ['one', 230, 3.14]
print(type(numbers), numbers)

<class 'list'> ['one', 2, 3.14]

In [10]:
numbers = list((10, 20.5, 30, 'One'))
print(type(numbers), numbers)
numbers[1] = 20
print(numbers)

<class 'list'> [10, 20.5, 30, 'One']
[10, 20, 30, 'One']

In [1]:
numbers = [1,2,3,4,5,6,7,8,9]
len(numbers)

9

In [2]:
numbers[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
numbers[::2]

[1, 3, 5, 7, 9]

In [4]:
numbers[::-2]

[9, 7, 5, 3, 1]

In [5]:
x = 5
x in numbers

True

In [6]:
x = 15
x in numbers

False

In [7]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9

In [8]:
for index in range(0, len(numbers)):
    print(numbers[index])

1
2
3
4
5
6
7
8
9

In [9]:
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [10]:
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
numbers.append([11,12])
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [12]:
numbers.insert(1, 1.5)
print(numbers)

[1, 1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [13]:
numbers.extend([13,14])
print(numbers)

[1, 1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13, 14]

In [14]:
numbers.remove(1.5)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13, 14]

In [15]:
numbers.pop()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13]

In [16]:
numbers.pop(10)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13]

In [17]:
del numbers[10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
marks = [45, 67, 45]
midSem = [56, 67, 78]
marks + midSem

[45, 67, 45, 56, 67, 78]

In [19]:
marks * 2

[45, 67, 45, 45, 67, 45]

In [20]:
myList=[[1, 2, 3], 
        [12, 13, 23], 
        [10, 20, 30], 
        [11, 22, 33], 
        [12, 24, 36]]
myList

[[1, 2, 3], [12, 13, 23], [10, 20, 30], [11, 22, 33], [12, 24, 36]]

In [21]:
myList[0]

[1, 2, 3]

In [22]:
myList[0][2]

3

In [24]:
matrix=[[1, 2, 3],[12, 13, 23],[10, 20, 30]]
print(len(matrix), type(matrix), matrix)

3 <class 'list'> [[1, 2, 3], [12, 13, 23], [10, 20, 30]]

In [25]:
for item in matrix:
    print(type(item),item)

<class 'list'> [1, 2, 3]
<class 'list'> [12, 13, 23]
<class 'list'> [10, 20, 30]

In [26]:
flatenMatrix = []
for lst in matrix:
    for val in lst:
        flatenMatrix.append(val)
print(flatenMatrix)

[1, 2, 3, 12, 13, 23, 10, 20, 30]

In [27]:
flatenMatrix.sort()

In [28]:
flatenMatrix

[1, 2, 3, 10, 12, 13, 20, 23, 30]

In [29]:
numbers = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(numbers.count(3))

2

In [30]:
print(sum(numbers))

18

In [31]:
print(min(flatenMatrix))

1

In [32]:
print(max(flatenMatrix))

30

In [33]:
numbers = [23, 45, 65, 34]
nbrs = numbers
print(nbrs, numbers)

[23, 45, 65, 34] [23, 45, 65, 34]

In [34]:
nbrs[1] = 30.50
print(nbrs, numbers)

[23, 30.5, 65, 34] [23, 30.5, 65, 34]

In [35]:
nbrs = numbers[::]
print(nbrs, numbers)

[23, 30.5, 65, 34] [23, 30.5, 65, 34]

In [36]:
nbrs[1] = 'Python'
print(nbrs, numbers)

[23, 'Python', 65, 34] [23, 30.5, 65, 34]

In [37]:
nbrs = numbers.copy()

In [38]:
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = [1, 2, 3, 4]
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [39]:
numbers = [1, 2, 3, 4]
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [40]:
result = []
for nbr in numbers:
    result.append(addition(nbr))
print(result)

[2, 4, 6, 8]

In [7]:
term1Marks = [25, 29, 35, 45, 35]
term2Marks = [35, 38, 47, 50, 47]
term3Marks = [41, 42, 38, 36]
marks = zip(term1Marks, term2Marks, term3Marks)
print(list(marks))

[(25, 35, 41), (29, 38, 42), (35, 47, 38), (45, 50, 36)]

In [2]:
marks = []
for idx in range(len(term1Marks)):
    marks.append((term1Marks[idx], term2Marks[idx], term3Marks[idx]))
marks

[(25, 35, 41), (29, 38, 42), (35, 47, 38), (45, 50, 48), (35, 47, 36)]

In [11]:
term1Marks = [25, 29, 35, 45, 35]
term2Marks = [35, 38, 47, 50, 47]
term3Marks = [41, 42, 38, 48, 36]
totalmarks = []
for idx in range(len(term1Marks)):
    t = term1Marks[idx] + term2Marks[idx] + term3Marks[idx]
    totalmarks.append(round(t/3,2))
totalmarks

[33.67, 36.33, 40.0, 47.67, 39.33]

In [13]:
#lambda parameters: expression

add = lambda x, y: x+y
add(3,7)

-4

In [ ]:
sub = lambda x, y: x-y
sub(3,7)

In [16]:
big = lambda a, b, c: a if a>b and a>c else b if b>c else c
big(30, 4,6)

30

In [18]:
term1Marks = [25, 29, 35, 45, 35]
term2Marks = [35, 38, 47, 50, 47]
term3Marks = [41, 42, 38, 48, 36]

avg = lambda m1,m2,m3: round((m1+m2+m3) / 3, 2)

totalmarks = []
for idx in range(len(term1Marks)):    
    totalmarks.append(avg(term1Marks[idx] , term2Marks[idx] , term3Marks[idx]))
totalmarks

[33.67, 36.33, 40.0, 47.67, 39.33]

In [19]:
term1Marks = [25, 29, 35, 45, 35]
term2Marks = [35, 38, 47, 50, 47]
term3Marks = [41, 42, 38, 48, 36]
marks = list(zip(term1Marks, term2Marks, term3Marks))

avg = lambda mark: round(sum(mark) / 3, 2)

totalmarks = []
for mark in marks:    
    totalmarks.append(avg(mark))
totalmarks

[33.67, 36.33, 40.0, 47.67, 39.33]

In [25]:
term1Marks = [25, 29, 35, 45, 35]
term2Marks = [35, 38, 47, 50, 47]
term3Marks = [41, 42, 38, 48, 36]
marks = list(zip(term1Marks, term2Marks, term3Marks))
avg = lambda mark: round(sum(mark) / 3, 2)
[avg(mark) for mark in marks]

[33.67, 36.33, 40.0, 47.67, 39.33]

In [24]:
term1Marks = [25, 29, 35, 45, 35]
term2Marks = [35, 38, 47, 50, 47]
term3Marks = [41, 42, 38, 48, 36]
marks = list(zip(term1Marks, term2Marks, term3Marks))
avg = lambda mark: round(sum(mark) / 3, 2)
list(map(avg, marks))

[33.67, 36.33, 40.0, 47.67, 39.33]

In [20]:
term1Marks = [25, 29, 35, 45, 35]
term2Marks = [35, 38, 47, 50, 47]
term3Marks = [41, 42, 38, 48, 36]
#marks = zip(term1Marks, term2Marks, term3Marks)
#print(list(marks))
marks = [term1Marks, term2Marks, term3Marks]
print(marks)
#def sumMarks(mark):
#    return sum(mark)
totalMarks = map(lambda mark: sum(mark), marks)
#totalMarks = map(sumMarks, list(marks))
#totalMarks = []
#for mark in list(marks):
#    print(mark)
#    totalMarks.append(sumMarks(mark))
print(list(totalMarks))

[[25, 29, 35, 45, 35], [35, 38, 47, 50, 47], [41, 42, 38, 48, 36]]
[169, 217, 205]

In [43]:
termMarks = [25, 29, 35, 45, 35]
per = []
for mark in termMarks:
    percentage = round((mark * 2) / 100 * 100,2)
    per.append(percentage)
per

[50.0, 58.0, 70.0, 90.0, 70.0]

In [44]:
termMarks = [25, 29, 35, 45, 35]
per = [round((mark * 2) / 100 * 100,2) for mark in termMarks]
per

[50.0, 58.0, 70.0, 90.0, 70.0]