In [2]:
lng = 'Python'
lng1 = lng
lng = 'Hello'
print(lng, lng1)

Hello Python

In [5]:
lng = 'Python'
lng[6]= '3'

TypeError: 'str' object does not support item assignment

In [12]:
lng = 'python3'
lng0 = lng[0]
lng1=lng[0:4]
print(len(lng),len(lng0), len(lng1))
print(lng,lng0, lng1)

7 1 4
python3 p pyth

In [15]:
str = 'python'
str[-4:-6:-1]

'ty'

In [16]:
str = 'python'
str.upper()

'PYTHON'

In [19]:
str="my name is Vimal"
str1=str.replace('Vimal', "Kannan")
print(str, str1)

my name is Vimal my name is Kannan

In [20]:
for chr in str:
    print(chr)

m
y

n
a
m
e

i
s

V
i
m
a
l

In [25]:
model='Classic'
make='Ford'
version = [10.0,10.1,10.2]
year=1992
x = [model, make, version, year]
print(type(x), x)
x[0] = 'EcoSports'
print(type(x), x, model)

<class 'list'> ['Classic', 'Ford', [10.0, 10.1, 10.2], 1992]
<class 'list'> ['EcoSports', 'Ford', [10.0, 10.1, 10.2], 1992] Classic

In [27]:
model='Classic'
make='Ford'
version = [10.0,10.1,10.2]
year=1992
x = model, make, version, year
print(type(x), x)
x[0] = 'EcoSports'
print(type(x), x, model)

<class 'tuple'> ('Classic', 'Ford', [10.0, 10.1, 10.2], 1992)

TypeError: 'tuple' object does not support item assignment

In [32]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}
print(type(Days), Day)
WE = {"Saturday", "Sunday"}
print(Days - WE)

<class 'set'> {'Friday', 'Thursday', 'Wednesday', 'Sunday', 'Monday', 'Saturday', 'Tuesday'}

{'Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

In [43]:
Cars= [
    {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"version": [10.0, 12, 13]
},
    {
"brand": "Ford",
"model": "Classic",
"year": 1984,
"version": 11
}
]

print(type(Cars), Cars)
print(type(Cars[0]))
Cars[1]['version']

<class 'list'> [{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'version': [10.0, 12, 13]}, {'brand': 'Ford', 'model': 'Classic', 'year': 1984, 'version': 11}]
<class 'dict'>

11