In [1]:
import pandas as pd

In [3]:
def z_score(v):
    return ((v - v.mean()) / v.std()).abs()

In [26]:
xdf = pd.DataFrame({'x': [2,4,6,8],
                    'y': [56,45,41,5]})

xdf.loc[xdf['y'] % 2 != 0, 'y'] =\
    xdf.loc[xdf['y'] % 2 != 0, 'y']\
        .transform(lambda x: pow(x, 2))

In [23]:
xdf.loc[xdf['y'] % 2 != 0, 'y']

1    45
2    41
3     5
Name: y, dtype: int64

In [25]:
xdf

   x     y
0  2    56
1  4  2025
2  6  1681
3  8    25

In [27]:
a    =     8
a

8