### read file:
1. read() -> read a complete file and get as a string
2. read(number of characters) -> read(5) : read first 5 chars as string from the current location of the file
3. readline() -> read a current line as string
4. readlines() -> read a complete file and get as a list of string by each line
5. looping a file object -> each iteration will give a currrent line as string

### write file:
1. write() -> write a given string to a file; give \n for new line

### JSON
#### Read a json file:
1. load() -> read from json file and load as dict or list
2. loads() -> read from string (as json format) and load as dict or list
    val = '{"name":"Jhon", "age":23}'
    valDict = json.loads(fileObj, val)
    
#### Write to JSON file:
1. dump() -> write a dict or list to json file
2. dumps() -> write a dict or list to string variable
    valDict = {"name":"Jhon", "age":23}
    val = json.dumps(valDict) # output: '{"name":"Jhon", "age":23}'

In [8]:
import json
filePath = '../Files/Students-raw.json' # Move out of current Directory then go to 'Files' Directory
with open(filePath, 'r') as stdFile:
    students = json.load(stdFile)
    
print(type(students))
print(students)

<class 'list'>
[{'name': 'arun', 'gender': 'Male', 'marks': [56, 67, 87, 65, 43]}, {'name': 'rajesh', 'gender': 'Male', 'marks': [12, 43, 23, 40, 43]}, {'name': 'moorthy', 'gender': 'Male', 'marks': [56, 78, 87, 54, 65]}, {'name': 'raja', 'gender': 'Male', 'marks': [67, '34', 87, 56, 78]}, {'name': 'usha', 'gender': 'Female', 'marks': [17, 12, 42, 23, 43]}, {'name': 'priya', 'gender': 'Female', 'marks': [75, 67, 87, 65, 85]}, {'name': 'Sundar', 'gender': 'Male', 'marks': [56, 67, 87, 65, 67]}, {'name': 'Kavitha', 'gender': 'Female', 'marks': [65, 67, 64, 65, 62]}, {'name': 'Dinesh', 'gender': 'Male', 'marks': [56, 67, 87, 65, 56]}, {'name': 'Hema', 'gender': 'Female', 'marks': [78, 98, 79, 75, 83]}, {'name': 'Gowri', 'gender': 'Female', 'marks': [88, 90, 87, 89, 87]}, {'name': 'Ram', 'gender': 'Male', 'marks': [56, 89, 54, 65, 67]}, {'name': 'Murugan', 'gender': 'Male', 'marks': [67, 98, 87, 87, 56]}, {'name': 'Jenifer', 'gender': 'Female', 'marks': [67, 45, 46, 43, 23]}]

In [14]:
for student in students:
    student['total'] = sum(student['marks'])
    student['Percentage'] = student['total'] / len(student['marks'])  
    print(student)

{'name': 'arun', 'gender': 'Male', 'marks': [56, 67, 87, 65, 43], 'total': 318, 'Percentage': 63.6}
{'name': 'rajesh', 'gender': 'Male', 'marks': [12, 43, 23, 40, 43], 'total': 161, 'Percentage': 32.2}
{'name': 'moorthy', 'gender': 'Male', 'marks': [56, 78, 87, 54, 65], 'total': 340, 'Percentage': 68.0}

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
for student in students:
    try:
        student['total'] = sum(student['marks'])
        student['Percentage'] = student['total'] / len(student['marks'])        
    except:
        print('Error in this record: ',student)
        pass
    else:
        print(student)
    finally:
        print('going to next record')

{'name': 'arun', 'gender': 'Male', 'marks': [56, 67, 87, 65, 43], 'total': 318, 'Percentage': 63.6}
going to next record
{'name': 'rajesh', 'gender': 'Male', 'marks': [12, 43, 23, 40, 43], 'total': 161, 'Percentage': 32.2}
going to next record
{'name': 'moorthy', 'gender': 'Male', 'marks': [56, 78, 87, 54, 65], 'total': 340, 'Percentage': 68.0}
going to next record
Error in this record:  {'name': 'raja', 'gender': 'Male', 'marks': [67, '34', 87, 56, 78]}
going to next record
{'name': 'usha', 'gender': 'Female', 'marks': [17, 12, 42, 23, 43], 'total': 137, 'Percentage': 27.4}
going to next record
{'name': 'priya', 'gender': 'Female', 'marks': [75, 67, 87, 65, 85], 'total': 379, 'Percentage': 75.8}
going to next record
{'name': 'Sundar', 'gender': 'Male', 'marks': [56, 67, 87, 65, 67], 'total': 342, 'Percentage': 68.4}
going to next record
{'name': 'Kavitha', 'gender': 'Female', 'marks': [65, 67, 64, 65, 62], 'total': 323, 'Percentage': 64.6}
going to next record
{'name': 'Dinesh', 'gender': 'Male', 'marks': [56, 67, 87, 65, 56], 'total': 331, 'Percentage': 66.2}
going to next record
{'name': 'Hema', 'gender': 'Female', 'marks': [78, 98, 79, 75, 83], 'total': 413, 'Percentage': 82.6}
going to next record
{'name': 'Gowri', 'gender': 'Female', 'marks': [88, 90, 87, 89, 87], 'total': 441, 'Percentage': 88.2}
going to next record
{'name': 'Ram', 'gender': 'Male', 'marks': [56, 89, 54, 65, 67], 'total': 331, 'Percentage': 66.2}
going to next record
{'name': 'Murugan', 'gender': 'Male', 'marks': [67, 98, 87, 87, 56], 'total': 395, 'Percentage': 79.0}
going to next record
{'name': 'Jenifer', 'gender': 'Female', 'marks': [67, 45, 46, 43, 23], 'total': 224, 'Percentage': 44.8}
going to next record
[{'name': 'arun', 'gender': 'Male', 'marks': [56, 67, 87, 65, 43], 'total': 318, 'Percentage': 63.6}, {'name': 'rajesh', 'gender': 'Male', 'marks': [12, 43, 23, 40, 43], 'total': 161, 'Percentage': 32.2}, {'name': 'moorthy', 'gender': 'Male', 'marks': [56, 78, 87, 54, 65], 'total': 340, 'Percentage': 68.0}, {'name': 'raja', 'gender': 'Male', 'marks': [67, '34', 87, 56, 78]}, {'name': 'usha', 'gender': 'Female', 'marks': [17, 12, 42, 23, 43], 'total': 137, 'Percentage': 27.4}, {'name': 'priya', 'gender': 'Female', 'marks': [75, 67, 87, 65, 85], 'total': 379, 'Percentage': 75.8}, {'name': 'Sundar', 'gender': 'Male', 'marks': [56, 67, 87, 65, 67], 'total': 342, 'Percentage': 68.4}, {'name': 'Kavitha', 'gender': 'Female', 'marks': [65, 67, 64, 65, 62], 'total': 323, 'Percentage': 64.6}, {'name': 'Dinesh', 'gender': 'Male', 'marks': [56, 67, 87, 65, 56], 'total': 331, 'Percentage': 66.2}, {'name': 'Hema', 'gender': 'Female', 'marks': [78, 98, 79, 75, 83], 'total': 413, 'Percentage': 82.6}, {'name': 'Gowri', 'gender': 'Female', 'marks': [88, 90, 87, 89, 87], 'total': 441, 'Percentage': 88.2}, {'name': 'Ram', 'gender': 'Male', 'marks': [56, 89, 54, 65, 67], 'total': 331, 'Percentage': 66.2}, {'name': 'Murugan', 'gender': 'Male', 'marks': [67, 98, 87, 87, 56], 'total': 395, 'Percentage': 79.0}, {'name': 'Jenifer', 'gender': 'Female', 'marks': [67, 45, 46, 43, 23], 'total': 224, 'Percentage': 44.8}]

In [7]:
outFilePath = '../Files/output/students-total.json'
with open(outFilePath, 'w') as outObj:
    json.dump(students, outObj, indent=4)